#!/usr/bin/env bash

echo "
🔧 Run OnChange [After] Dotfiles Applied Starting........"

echo "--- CHEZMOI DEBUG ---"
echo "Username:     {{ .chezmoi.username }}"
echo "Host Name:    {{ .chezmoi.hostname }}"
echo "Home Directory: {{ .chezmoi.homeDir }}"
echo "Source Directory: {{ .chezmoi.sourceDir }}"
echo "OS Detected:   {{ .chezmoi.os }}"
echo "Arch Detected: {{ .chezmoi.arch }}"
echo "-------------------------"

{{- if ne .chezmoi.os "darwin" }}
echo "🚧 Skipping post-dotfiles setup (not macOS)
"
exit 0
{{- end }}

#-------------------------------------------------------------------------------
#--                      Summary
#-------------------------------------------------------------------------------
echo ""
echo "🎉 Run OnChange [After] Dotfiles Applied Complete!"
