<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.gnohj.auto.push.github</string>
    <key>ProgramArguments</key>
    <array>
        <string>/Users/gnohj/.config/zshrc/github-auto-push.sh</string>
    </array>
    <key>StartInterval</key>
    <integer>180</integer>
    <key>StandardOutPath</key>
    <string>/tmp/github-auto-push.out</string>
    <key>StandardErrorPath</key>
    <string>/tmp/github-auto-push.err</string>
</dict>
</plist>
