[mgr]
# show_hidden = true

[[plugin.prepend_fetchers]]
id   = "git"
name = "*"
run  = "git"

[opener]
# Override default edit opener to preserve original yazi cwd
# YAZI_START_DIR is set by the `y` alias to capture the directory where yazi was launched
edit = [
  { run = '''sh -c 'cd "${YAZI_START_DIR:-$PWD}" && nvim "$1"' -- "$@"''', desc = "nvim (preserve cwd)", block = true, for = "unix" },
]
video = [
  { run = 'open -na "VLC" --args "$@" 2>/dev/null', desc = "VLC (new instance)", for = "macos" },
]

[open]
prepend_rules = [
  { mime = "video/*", use = "video" },
]
