#   ██████╗██╗  ██╗███████╗███████╗███╗   ███╗ ██████╗ ██╗
#  ██╔════╝██║  ██║██╔════╝╚══███╔╝████╗ ████║██╔═══██╗██║
#  ██║     ███████║█████╗    ███╔╝ ██╔████╔██║██║   ██║██║
#  ██║     ██╔══██║██╔══╝   ███╔╝  ██║╚██╔╝██║██║   ██║██║
#  ╚██████╗██║  ██║███████╗███████╗██║ ╚═╝ ██║╚██████╔╝██║
#   ╚═════╝╚═╝  ╚═╝╚══════╝╚══════╝╚═╝     ╚═╝ ╚═════╝ ╚═╝
#
#  Manage your dotfiles across multiple diverse machines, securely
#  https://chezmoi.io/

[diff]
pager = "delta"
