# default
[default]
preview_command = "eza --all --git --icons --color=always {}"

[[session]]
name = "tmux_home"
path = "~/"
startup_command = "c"

[[session]]
name = "tmux_bin"
path = "~/_bin"
startup_command = "ls"

[[session]]
name = "tmux_config"
path = "~/.config"
startup_command = "n"

[[session]]
name = "tmux_logs"
path = "~/.logs"

[[session]]
name = "tmux_chezmoi"
path = "~/.local/share/chezmoi"
startup_command = "gst"

[[session]]
name = "tmux_developer"
path = "~/Developer"
startup_command = "ls"

[[session]]
name = "tmux_downloads"
path = "~/Downloads"
startup_command = "ls"

[[session]]
name = "tmux_desktop"
path = "~/Desktop"
startup_command = "ls"

[[session]]
name = "tmux_inferno"
path = "~/Developer/inferno-monorepo"
startup_command = "~/.config/sesh/dev.sh '' ~/Developer/inferno-monorepo"
preview_command = "bat --color=always ~/Developer/inferno-monorepo/README.md"

[[session]]
name = "tmux_second_brain"
path = "~/Obsidian/second-brain"

[[session]]
name = "tmux_web"
startup_command = "~/.config/sesh/dev.sh '' ~/Developer/web"
preview_command = "bat --color=always ~/Developer/web/README.md"

[[session]]
name = "tmux_yazi"
path = "~/."
startup_command = "y"

[[session]]
name = "tmux_radioctl"
path = "~/."
startup_command = "n .radioctl2"
preview_command = "bat --language=bash --style=snip --color=always ~/.radioctl2"

[[session]]
name = "tmux_radioctl_cmd"
path = "~/.zsh_radioctl_cmds"
startup_command = "n .zsh_radioctl_cmds"
preview_command = "bat --language=bash --style=snip --color=always ~/.zsh_radioctl_cmds"


[[session]]
name = "tmux_zsh_gnohj_env"
path = "~/.zsh_gnohj_env"
startup_command = "n .zsh_gnohj_env"
preview_command = "bat --language=bash --style=snip --color=always ~/.zsh_gnohj_env"
